proyect
lib/x86/zprop.exp
lib/x86/zprop.iobj
lib/x86/zprop.ipdb
lib/x86/zprop.pdb
lib/x86/zprop.dll.lastcodeanalysissucceeded
lib/x86_64/zprop.exp
lib/x86_64/zprop.iobj
lib/x86_64/zprop.ipdb
lib/x86_64/zprop.pdb
lib/x86_64/zprop.dll.lastcodeanalysissucceeded