font {
    size:"2";
    font-family:"Consolas";
    color:#FFFFFF;
}

func { /* funciones */
    color:#DCDCAA;
}

typedef { /* tipos definidos */
    color:#4EC9B0;
}

primitive { /* tipos primitivos */
    color:#569CD6;
}